<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>bms</title>
<link rel="stylesheet" type="text/css" href="/themes/default/easyui.css" id="swicth-style">
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/jquery.easyui.min.js"></script>
<style type="text/css">
	body {
		font: 12px/20px "微软雅黑", "宋体", Arial, sans-serif, Verdana, Tahoma;
		padding: 0;
		margin: 0;
	}
	.layout-split-proxy-h{
		position:absolute;
		width:2px;
		background:#888;
		font-size:1px;
		cursor:e-resize;
		display:none;
		z-index:5;
	}

	.layout-split-north{
		border-bottom:5px solid #efefef;
	}
	.layout-split-south{
		border-top:5px solid #efefef;
	}
	.layout-split-east{
		border-left:0px solid #efefef;
	}
	.layout-split-west{
		border-right:0px solid #efefef;
	}
	a:link {
		text-decoration: none;
	}
	a:visited {
		text-decoration: none;
	}
	a:hover {
		text-decoration: underline;
	}
	a:active {
		text-decoration: none;
	}
	.cs-north {
		height:60px;
	}
	.cs-north-bg {
		width: 100%;
		height: 100%;
		background: url(/images/header_bg.png) repeat-x;
	}
	.cs-north-logo {
		height: 40px;
		margin: 15px 0px 0px 5px;
		display: inline-block;
		color:#000;font-size:22px;font-weight:bold;text-decoration:none
	}
	.cs-west {
		width:200px;padding:0px;
	}
	.cs-south {
		height:25px;
		background:background:rgba(0, 0, 0, 0) linear-gradient(to bottom, #eff5ff 0px, #e0ecff 100%) repeat-x scroll 0 0;
		padding:0px;text-align:center;
	}
	.cs-navi-tab {
		padding: 5px;
	}
	.cs-tab-menu {
		width:120px;
	}
	.cs-home-remark {
		padding: 10px;
	}
	.wrapper {
		float: right;
		height: 30px;
		margin-left: 10px;
	}
	.ui-skin-nav {
		padding: 0;
		list-style: none outside none;
		padding: 0;
		position: absolute;
		right: 10px;
		top: 20px;
	}

	.ui-skin-nav .li-skinitem {
		float: left;
		font-size: 12px;
		color: #ffffff;
		margin-left: 10px;
		text-align: center;
	}
	.ui-skin-nav .li-skinitem span {
		cursor: pointer;
		width:10px;
		height:10px;
		display:inline-block;
	}
	.ui-skin-nav .li-skinitem span.cs-skin-on{
		border: 1px solid #FFFFFF;
	}

	.ui-nav {
		padding: 0;
		list-style: none outside none;
		position: absolute;
		right: 10px;
		top: -5px;
	}

	.ui-nav .li-nav-item {
		float: left;
		font-size: 12px;
		color: #ffffff;
		margin-left: 10px;
		text-align: center;
	}

	.ui-nav .li-nav-item a {
		color: #ffffff;
	}


    .easyui-accordion ul{list-style-type:none;margin:0px; padding:0px;}
    .easyui-accordion ul li{ padding:0px;}
    .easyui-accordion ul li a{line-height:18px;color:black;display: block;}
    .easyui-accordion ul li div{padding-left:10px;}
    .easyui-accordion ul li div.hover{border:1px dashed #99BBE8; background:#E0ECFF;cursor:pointer;}
    .easyui-accordion ul li div.hover a{color:#416AA3;text-decoration:none;}
    .easyui-accordion ul li div.selected{border:1px solid #99BBE8; background:#E0ECFF;cursor:default;}
    .easyui-accordion ul li div.selected a{color:#416AA3; font-weight:bold;}

	.ui-skin-nav .li-skinitem span.gray{background-color:gray;}
	.ui-skin-nav .li-skinitem span.default{background-color:blue;}
	.ui-skin-nav .li-skinitem span.bootstrap{background-color:#D7EBF9;}
	.ui-skin-nav .li-skinitem span.black{background-color:black;}
	.ui-skin-nav .li-skinitem span.metro{background-color:#FFE57E;}
	.ui-skin-nav .li-skinitem span.pepper-grinder{background-color:#BC3604;}
	.ui-skin-nav .li-skinitem span.blue{background-color:blue;}
	.ui-skin-nav .li-skinitem span.cupertino{background-color:#D7EBF9;}
	.ui-skin-nav .li-skinitem span.dark-hive{background-color:black;}
	.ui-skin-nav .li-skinitem span.sunny{background-color:#FFE57E;}
</style>
<script type="text/javascript">
	$(function() {
        $('.easyui-accordion li a').click(function(){
            $('.easyui-accordion li div').removeClass("selected");
            $(this).parent().addClass("selected");
        }).hover(function(){
            $(this).parent().addClass("hover");
        },function(){
            $(this).parent().removeClass("hover");
        });

		$('.cs-navi-tab').click(function() {
			var $this = $(this);
			var href = $this.attr('src');
			var title = $this.text();

			//addTab(title, href);

			$('#mainContent').attr('src', href);
			$('#mainPanle').panel('setTitle', title);

		});

		var themes = {
			'gray' : 'themes/gray/easyui.css',
			'black' : 'themes/black/easyui.css',
			'bootstrap' : 'themes/bootstrap/easyui.css',
			'default' : 'themes/default/easyui.css',
			'metro' : 'themes/metro/easyui.css',
			'pepper-grinder' : 'themes/pepper-grinder/easyui.css',
			'blue' : 'themes/default/easyui.css',
			'cupertino' : 'themes/cupertino/easyui.css',
			'dark-hive' : 'themes/dark-hive/easyui.css',
			'sunny' : 'themes/sunny/easyui.css'
		};

		var skins = $('.li-skinitem span').click(function() {
			var $this = $(this);
			if($this.hasClass('cs-skin-on')) return;
			skins.removeClass('cs-skin-on');
			$this.addClass('cs-skin-on');
			var skin = $this.attr('rel');
			$('#swicth-style').attr('href', themes[skin]);
			setCookie('cs-skin', skin);
			skin == 'dark-hive' ? $('.cs-north-logo').css('color', '#000000') : $('.cs-north-logo').css('color', '#ffffff');
		});

		if(getCookie('cs-skin')) {
			var skin = getCookie('cs-skin');
			$('#swicth-style').attr('href', themes[skin]);
			$this = $('.li-skinitem span[rel='+skin+']');
			$this.addClass('cs-skin-on');
			skin == 'dark-hive' ? $('.cs-north-logo').css('color', '#000000') : $('.cs-north-logo').css('color', '#ffffff');
		}
	});

	function setCookie(name,value) {//两个参数，一个是cookie的名子，一个是值
		var Days = 30; //此 cookie 将被保存 30 天
		var exp = new Date();    //new Date("December 31, 9998");
		exp.setTime(exp.getTime() + Days*24*60*60*1000);
		document.cookie = name + "="+ escape (value) + ";expires=" + exp.toGMTString();
	}

	function getCookie(name) {//取cookies函数
		var arr = document.cookie.match(new RegExp("(^| )"+name+"=([^;]*)(;|$)"));
		if(arr != null) return unescape(arr[2]); return null;
	}
</script>
</head>
<body class="easyui-layout">
<div region="north" border="true" class="cs-north">

	<div class="cs-north-bg">
		<div class="cs-north-logo">选牛网后台管理系统</div>

		<ul class="ui-nav">
			<li class="li-nav-item">当前用户：admin</li>
			<li class="li-nav-item">|</li>
			<li class="li-nav-item"><a href="login.html">退出</a></li>
		</ul>
		<ul class="ui-skin-nav">
			<li class="li-skinitem" title="gray"><span class="gray" rel="gray"></span></li>
			<li class="li-skinitem" title="default"><span class="default" rel="default"></span></li>
			<li class="li-skinitem" title="bootstrap"><span class="bootstrap" rel="bootstrap"></span></li>
			<li class="li-skinitem" title="metro"><span class="metro" rel="metro"></span></li>
		</ul>
	</div>
</div>
<div region="west" border="true" split="true" title="系统管理导航" class="cs-west">
	<div class="easyui-accordion" fit="true" border="false">
		<div title="系统权限管理">
            <ul>
			    <li><div><a href="javascript:void(0);" src="/view/privilege/user.html" class="cs-navi-tab">用户管理</a></div></li>
			    <li><div><a href="javascript:void(0);" src="/view/privilege/role.html" class="cs-navi-tab">角色管理</a></div></li>
			    <li><div><a href="javascript:void(0);" src="/view/privilege/resource.html" class="cs-navi-tab">功能管理</a></div></li>
            </ul>
		</div>
	</div>
</div>
<div id="mainPanle" region="center" border="false" title="MainWorkArea Bar">
	<iframe id="mainContent" scrolling="auto" frameborder="0"  src="" style="width:100%;height:100%;"></iframe>
	<!--
     <div id="tabs" class="easyui-tabs"  fit="true" border="false" >
            <div title="Home">
            <div class="cs-home-remark">
                <h1>jQuery EasyUI 1.3.2 Demo</h1> <br>
                制作：purediy <br>
                博客：<a href="http://www.cnblogs.com/purediy" target="_blank">http://www.cnblogs.com/purediy</a><br>
                说明：jQuery EasyUI 1.3.2 Demo分类整理。
            </div>
            </div>
    </div>
    -->
</div>

<div region="south" border="true" class="cs-south" style="height:25px;">Copyright © 2015 </div>

<div id="mm" class="easyui-menu cs-tab-menu">
	<div id="mm-tabupdate">刷新</div>
	<div class="menu-sep"></div>
	<div id="mm-tabclose">关闭</div>
	<div id="mm-tabcloseother">关闭其他</div>
	<div id="mm-tabcloseall">关闭全部</div>
</div>
</body>
</html>
